*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma,Verdana, sans-serif;

}
html,body{
    background: rgba(199, 206, 205, 0.911); 
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

body{
    align-self: center;
}

/* navigation custom start*/

div.navbar{
    z-index: 1;
    width: 100%;
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.logo{
    flex-shrink: inherit;
}
span.logo{
    color: azure;
    margin-left: 1.25vw;
    font-weight: bold;
    font-size: larger;
}

ul.navbar-buttons{
    display: flex;
    flex-direction: row;
}
.nav-button {
    font-size: smaller;
    background-color: #f44336;
    color: white;
    padding: 1.25vw;
    align-items: center;
    text-decoration: none;
    list-style: none;
    display: inline-flex;
  
}


/* aligning pic and description*/

/* .outmid{
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex:150px;
}
.out-mid-left{
    flex:1;
}
.out-mid-right{
    flex:3;
    display: flex;
    flex-flow: column wrap;
}
a.mail-button:link{

        background-color: #f44336;
        color: white;
        padding: 0.5rem 0.5rem;
        text-align: center;
        text-decoration: none;
        display: inline-flex;
      
}

a.mail-button:hover, a.mail-button:active {
    background-color: black;
  } */


  /* my slider start*/
div.slider{
    
    display: flex;
    flex-flow: column wrap;
    position: relative;
}
  img.slider-content {
    display: none;
  }

  img.active-image{
      display: flex;
      align-self: center;
      width: 1000px;
      height:580px;
      /*it's resizing with slider div which is full length and i want that*/
  }
  

  div.slider-ctrl-n-txt{

      display: flex;
      flex-flow: row;
      position: absolute;
  }
  div.slider-left-button{
      display: flex;
      flex-flow: row wrap;
      justify-self: flex-start;
      align-items: center;
  }
  div.slider-right-button{
      display: flex;
      flex-flow: row wrap;
      justify-self: flex-end;
      align-items: center;
  }

  div.slider-midpart{
      display: flex;
      flex-flow: column wrap;
  }

  div.slider-text{
    justify-self: baseline;
  }
  div.slider-skip-buttons{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    justify-self: flex-end;
    align-self: center;
  }

  span.slider-button{
      padding: 3px 12px; /*perfect padding-border ratio for circle */
      border: 6px solid white;
      border-radius: 100%;
    /*magic number here later, padding in x and y is linear, independent of border width*/
  }
  span.slider-button.active-slide{
    background-color: white;
  }
/*school image*/
.uni{
    position: relative;
    display: flex;
    flex-flow: column;
}
.nile-head{
    background-color: black;
    align-self: center;
    font-size: 30px;
    font-style: bold;
    color: white;
    padding: 0% 40%;
}    

.myexperience{
    position: absolute;
}

  /*editing the bottom*/

  div.end-contacts{
    display: flex;
    flex-wrap: row wrap;
    background-color: black;
    width: 100%;
    justify-self: end;
    }



  span .social{
    display: flex;
    text-decoration: none;
    color: aliceblue;
    padding: 4px 4px;
    background-color: #f44336;    
}

