*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
  font-size: 16px;
  line-height: 1.5;
}
/* navigation custom start*/

div.navbar{
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}
span.logo{
    display: block;
    border-radius: 6px;
    height: 100%;
    width: 9%;
    text-align: center;
    color: azure;
    margin: 0 0 0 1.25vw;
    font-size: 2rem;
    line-height: 2rem;
}

ul.navbar-buttons{
    height:100%;
    display: flex;
    flex-direction: row;
}
.nav-button {
    margin: 0;
    font-size: 1rem;
    line-height: 1rem; /*sets height of immediate parent of text(add space above and below)*/
    background-color: #f44336;
    color: white;
    padding: 1.25vw;
    align-items: center;
    text-decoration: none;
    list-style: none;
    display: inline-flex;
  
}


  /* my slider start*/
div.slider{
    display: flex;
    flex-flow: row;
    position: relative;
    max-width: 80%; /*gotta love max-width*/
    max-height: 70%; /*NOTE: USE MEDIA QUERIES FOR THIS*/
    overflow: hidden;
    align-self: center;
  }
  img.slider-content {
    display: none;
    width: 100%;   /*image is in 7:6*/
    height:100%;
  }

  img.active-image{
      display: flex;
      align-self: center;
      z-index: 0;
      position: relative;
      right: 0%;
  }
  
  img.previous-image{
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    right: 100%;
  }

  div.slider-left-button{
    position: absolute;
    left: 0;
    border-top: 4px solid firebrick;
    border-left: 4px solid firebrick;
    z-index: 2;
    width: 10%;
    height: 20%;
  }
  div.slider-right-button{
      width: 10%;
      height: 20%;
      position: absolute;
      right: 0; /*right starts from very right of element(0) leftwards*/
      bottom: 0;
      z-index: 1;
      border-bottom: 4px solid firebrick;
      border-right: 4px solid firebrick;
    }
  
  div.buttonOff{
    display: none;
  }

div.slider-text{
  display: flex;
  margin-top: 3%;
}
div.slider-skip-buttons{
  width: 12.5%;
  display: flex;
  flex-flow: row;
  position: absolute;
  z-index: 2;
  justify-content: center;
  align-self: flex-end;
  left: 41.25%; /*USE MEDIA QUERIES HERE TOO TO SCALE WITH SLIDER*/
  margin-bottom: 2.5px;
  
    /*set parent as relative , position elements absolutely*/
  }

  span.slider-button{
    padding: 6px 6px; /*perfect padding-border ratio for circle */
    margin: auto;
    border: 5px solid black;
    border-radius: 12px;
    transition: background-color 0.65s;
  /*magic number here later, padding in x and y is linear, independent of border width*/
  }
  span.slider-button.active-button{
    background-color: white;
  }


/*new slider*/
header.background{
    background-image: url(imgs/back.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}

  section.midAlignX{
    width: 60%;
    height: calc(100% - (2.5vw + 1rem)); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 20%;
  }

  section.midAlignY{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-height: 100%;
  }

/*quote tags*/
.slider-text p{
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
}
.quote{
  color: beige;
  font-size: 2rem;
  font-weight: bold;
}
.topQuote{
  padding-right: 0.4rem;
  line-height: 0.4;
}
.bottomQuote{
  padding-left: 0.4rem;
  line-height: 0.4;
  transform: scale(-1,-1);
}
/*animations*/

@keyframes animate-prev-next{
  from{transform: translateX(100%);}
  to{transform: translateX(0);}
}
@keyframes animate-prev-previous{
  from{transform: translateX(100%);}
  to{transform: translateX(200%);}
}
@keyframes animate-active-next{
  from{transform: translateX(100%);}
  to{transform: translateX(0);}
}
@keyframes animate-active-previous{
  from{transform: translateX(-100%);}
  to{transform: translateX(0);}
}
/*school image*/
/* .uni{
    position: relative;
    display: flex;
    flex-flow: column;
}
.nile-head{
    background-color: black;
    align-self: center;
    font-size: 30px;
    font-style: bold;
    color: white;
    padding: 0% 40%;
}    

.myexperience{
    position: absolute;
} */

  /*editing the bottom*/

  /* div.end-contacts{
    display: flex;
    flex-wrap: row wrap;
    background-color: black;
    width: 100%;
    justify-self: end;
    }



  span .social{
    display: flex;
    text-decoration: none;
    color: aliceblue;
    padding: 4px 4px;
    background-color: #f44336;    
}
 */
